.App {
	margin: 1rem;
	/* font-family: Arial, Helvetica, sans-serif; */
}

body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ol,
ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
	text-align: center;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#themeSelect {
	padding: 0.25em;
	margin-left: 0.5em;
}

.game-board {
	margin: 0 1.25em;
}

.game-info {
	min-width: 11.2em;
}
.game-info ol {
	list-style: none;
	padding: 0;
}

/* replay button */
.hide {
	visibility: hidden;
}
.show {
	visibility: visible;
}
#replayButton {
	margin: 0.5em 0;
	border: 1px solid;
	padding: 0.25em;
	border-radius: 3px;
	text-align: center;
	background: #bcf9bc;
	color: #008000b3;
	font-weight: bold;
	cursor: pointer;
}
